<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hotel</title>
</head>
<body>

    <table border="1" style="border-collapse: collapse; width: 50%; text-align: left;">
        <thead>
            <tr>
                <th>Hotel</th>
                <th>hotel type </th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="hotel : ${hotels}">
                <td th:text="${hotel.hotelName}"></td>
                <td th:text="${hotel.hotelType}"></td>
                <td th:text="${hotel.address}"></td>
                <td>
                    <a th:href="@{/hotel/edit/{id}(id=${hotel.hotelId})}">Edit</a>
                    <a th:href="@{/hotel/delete/{id}(id=${hotel.hotelId})}" 
                        onclick="return confirm('Are you sure you want to delete this?');">
                        Delete
                    </a>
                    <a th:href="@{/room/register(hotelId=${hotel.hotelId})}">Host your house</a> 
                </td>
            </tr>
        </tbody>
    </table> <br><br>

    <h1>Hotel Registration</h1>
    <p>Register your hotel with us!</p>
    <form th:action="@{/hotel}" th:object="${hotel}" method="post">
        <label>Hotel Name:</label> 
        <input type="text" th:field="*{hotelName}" /><br>

        <label>Hotel Type:</label>
        <input type="text" th:field="*{hotelType}" /><br>

        <label>Address:</label>
        <input type="text" th:field="*{address}" /><br>

        <label>City:</label>
        <input type="text" th:field="*{city}" /><br>

        <button type="submit">Create Hotel</button>

        <p th:if="${error}" th:text="${error}"></p>
    </form>
    
    <!-- update -->
    <div th:if="${editHotel != null}">
    <form th:action="@{/hotel/edit/{id}(id=${editHotel.hotelId})}" th:object="${editHotel}" method="post">
        <h1>Update</h1>
        <label>Hotel Name:</label> 
        <input type="text" th:field="*{hotelName}" /><br>

        <label>Hotel Type:</label>
        <input type="text" th:field="*{hotelType}" /><br>

        <label>Address:</label>
        <input type="text" th:field="*{address}" /><br>

        <label>City:</label>
        <input type="text" th:field="*{city}" /><br>

        <button type="submit">Update</button>
    </form>
    </div>
</body>
</html>