<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Amenities</title>
</head>
<body>

    <h1>Amenities</h1>
    <p>What you got!</p>
    <form th:action="@{/amenities}" th:object="${amenity}" method="post">
        
        <input type="hidden" th:field="*{room.roomId}" />

        <label>Amenity:</label>
        <input type="text" th:field="*{amenities}" /><br><br>   

        <button type="submit">Add</button>

        <p th:if="${error}" th:text="${error}"></p>
    </form>

    <h1>Amenities</h1>
    <table border="1" style="border-collapse: collapse; width: 20%; text-align: left;">
        <thead>
            <tr>
                <th>Amenities</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="amenity : ${amenities}">
                <td th:text="${amenity.amenities}"></td>
                <td>
                    <!-- <a th:href="@{/amenities/register(roomId=${room.roomId})}">Reserve</a> -->
                </td>
            </tr>
        </tbody>
    </table> <br><br>

    <!-- update -->
    <div th:if="${editHotel != null}">
    <form th:action="@{/hotel/edit/{id}(id=${editHotel.hotelId})}" th:object="${editHotel}" method="post">
        <h1>Update</h1>
        <label>Hotel Name:</label> 
        <input type="text" th:field="*{hotelName}" /><br>

        <label>Hotel Type:</label>
        <input type="text" th:field="*{hotelType}" /><br>

        <label>Address:</label>
        <input type="text" th:field="*{address}" /><br>

        <label>City:</label>
        <input type="text" th:field="*{city}" /><br>

        <button type="submit">Update</button>
    </form>
    </div>
</body>
</html>