<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Reservation</title>
</head>
<body>
    <h1>Hotel Reservation</h1>
    <p>Book your stay at our hotel!</p>
    <!-- <a th:href="@{/reserve/hotels(userId=${user.userId})}">Already reserved customer</a> -->
<!--     
    <a th:href="@{/reserve/hotels(userId=${user.userId})}">Details</a><br>

    <a th:if="${user != null}" th:href="@{/reserve/hotels(userId=${user.userId})}" class="btn btn-primary">
        Already reserved customer   
    </a> -->
    <div th:if="${hotel == null && room == null}">
    <form th:action="@{/reserve/hotels}" th:object="${reserve}" method="get">

        <input type="hidden" th:field="*{user.userId}"/>        
        
        <label>City:</label>
        <select th:field="*{city}">
            <option th:each="city : ${cities}" 
                    th:value="${city}" 
                    th:text="${city}">
            </option>
        </select>
        <br><br>

        <label>Check-in Date:</label>
        <input type="date" th:field="*{checkIn}" /><br>

        <label>Check-out Date:</label>
        <input type="date" th:field="*{checkOut}" /><br>

        <button type="submit">Search</button>
    </form>
    </div>

    <div th:if="${hotel != null && room != null}">
        <form th:action="@{/reservation}" th:object="${user}" method="post">

            <label>Name:</label>
            <input type="text" th:field="*{name}" /><br>

            <label>Email:</label>
            <input type="email" th:field="*{email}" /><br>

            <label>Password:</label>
            <input type="text" th:field="*{password}" /><br>

            <label>Contact:</label>
            <input type="text" th:field="*{contact}" /><br>
            
            <button type="submit">Reserve</button>
        </form>
    </div> 

</body>
</html>
